<!DOCTYPE html>
<html lang="en-US" encoding="utf8">
<head>
    <title>Orbit</title>
    <!-- todo this is bugged. Two styles are being loaded, trhe one specified in webpack config,
        required inside index.js is buggy -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css">
</head>
<body>

<label for="online">Online</label><input type="checkbox" id="online">

<div id="library" class="fadein-slow">
    </div>

</body>
</html>
